.app-loginbox {
  margin-top: 50px;
}

.app-loginbox .panel-body {
  padding-top: 30px;
}

.app-loginbox .alert {
  display: none;
}

.app-loginbox .input-group {
  margin-bottom: 25px;
}

.app-loginbox .app-submit {
  margin-top: 10px;
}

.app-loginbox .app-registrar-usuario {
  border-top: 1px solid#888;
  padding-top: 15px;
  font-size: 85%;
}

.app-loginbox .app-mensajes {
  margin-bottom: 25px;
}

.app-loginbox .app-btn-login {
  width: 100%;
}

.app-signupbox {
  display: none;
  margin-top: 50px;
}
