.app-loginbox {
  margin-top: 50px;
}

.app-loginbox .panel-body {
  padding-top: 30px;
}

.app-loginbox .alert {
  display: none;
}

.app-loginbox .input-group {
  margin-bottom: 25px;
}

.app-loginbox .app-submit {
  margin-top: 10px;
}

.app-loginbox,
.app-signupbox .app-registrar-usuario {
  font-size: 85%;
}

.app-registrar-usuario a {
    text-align: center;
}

.app-loginbox .app-mensajes {
  margin-bottom: 25px;
}

.app-loginbox .app-btn-login {
  width: 100%;
}

.app-signupbox {
  display: none;
  margin-top: 50px;
}

.app-signupbox .app-btn-signup {
  width: 100%;
}
