<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Bases de datos 2 - Trabajo Práctico N° 2</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="#">
          <i class="fa fa-smile-o"></i>&nbsp;Hola&nbsp;
          <?php require_once ('./php/util/Session.php'); echo getNombreApellido(); ?>!
        </a>
      </li>
      <li>
        <a href="changePassword.php">
          <i class="fa fa-key"></i>&nbsp; Cambiar Contraseña
        </a>
      </li>
      <li>
        <a href="php/controlador/logoutController.php">
          <i class="fa fa-power-off"></i>&nbsp; Cerrar Sesión
        </a>
      </li>
    </ul>
  </div>
</nav>