<div class="container">
    <div id="loginbox" class="app-loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Cambiar Contraseña</div>
            </div>

            <div class="panel-body">
                <form action="php/controlador/changePasswordController.php" method="post" id="loginform" class="form-horizontal" role="form">
                    <div class="app-input-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input required id="passwordActual" type="password" class="form-control" name="passwordActual" value="" placeholder="Contraseña Actual">
                    </div>

                    <div class="app-input-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input required id="passwordNueva" type="password" class="form-control" name="passwordNueva" placeholder="Contraseña Nueva">
                    </div>

                    <div class="app-input-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input required id="passwordConfirmar" type="password" class="form-control" name="passwordConfirmar" placeholder="Confirmar Contraseña">
                    </div>

                    <div class="app-submit form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" href="#" class="app-btn-submit btn btn-primary">
                                <i class="fa fa-check"></i>&nbsp;Cambiar Contraseña</button>
                        </div>
                    </div>

                    <div class="app-input-group input-group">
                        <span class="label label-success">
                            <?php echo filter_input(INPUT_GET, "success"); ?>
                        </span>
                        <span class="label label-danger">
                            <?php echo filter_input(INPUT_GET, "error"); ?>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>