<div class="container">
    <div id="loginbox" class="app-loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Cambiar Contraseña</div>
            </div>

            <div class="panel-body">
                <form action="php/controlador/changePasswordController.php" method="post" id="loginform" class="form-horizontal" role="form">
                    <div class="app-input-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input required id="passwordNueva" type="password" class="form-control" name="passwordNueva" placeholder="Contraseña Nueva">
                    </div>

                    <div class="app-input-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                        </span>
                        <input required id="passwordConfirmar" type="password" class="form-control" name="passwordConfirmacion" placeholder="Confirmar Contraseña">
                    </div>

                    <div class="app-submit form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" href="#" class="app-btn-submit btn btn-primary">
                                <i class="fa fa-check"></i>&nbsp;Cambiar Contraseña</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<?php
    $success = filter_input(INPUT_GET, "success");
    $error = filter_input(INPUT_GET, "error");
    if(!is_null($success) && $success){
        echo "<script>mensaje={};mensaje.success='".$success."';console.log(mensaje.success);</script>";
    }else{
        echo "<script>mensaje={};mensaje.error='".$error."';console.log(mensaje.error);</script>";
    }
?>