<div class="container">
    <div id="loginbox" class="app-loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Iniciar sesión</div>
            </div>

            <div class="panel-body">

                <div id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form action="php/controlador/loginPersonaController.php" method="post" id="loginform" class="form-horizontal" role="form">

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input required id="login-username" type="text" class="form-control" name="username" value="" placeholder="Usuario">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input required id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>

                    <div class="app-submit form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" href="#" class="app-btn-login btn btn-success">Ingresar</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div class="app-registrar-usuario">
                                <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Registrarse
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="app-mensajes input-group">
                        <span class="label label-success">
                            <?php echo filter_input(INPUT_GET, "success"); ?>
                        </span>
                        <span class="label label-danger">
                            <?php echo filter_input(INPUT_GET, "error"); ?>
                        </span>
                    </div>

                </form>

            </div>
        </div>
    </div>
    <div id="signupbox" class="app-signupbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Registrarse</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    <a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Ingresar</a>
                </div>
            </div>
            <div class="panel-body">
                <form action="app/controlador/agregarPersonaController.php" method="post" id="signupform" class="form-horizontal" role="form">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>

                    <div class="form-group">
                        <label for="user" class="col-md-3 control-label">Usuario</label>
                        <div class="col-md-9">
                            <input required type="text" class="form-control" name="user" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Nombre</label>
                        <div class="col-md-9">
                            <input required type="text" class="form-control" name="firstname" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Apellido</label>
                        <div class="col-md-9">
                            <input required type="text" class="form-control" name="lastname" placeholder="Apellido">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Contraseña</label>
                        <div class="col-md-9">
                            <input required type="password" class="form-control" name="passwd" placeholder="Contraseña">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info">
                                <i  class="fas fa-user-plus"></i>Registrarse</button>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>